extends layout.pug 
block content 
    .container
      
      div#article-data(data-article=JSON.stringify(article))

      each item in article  
        h1= item.title
        p= item.content

      p Applaudissements :#{article.applauseCount}

      butonn.btn.btn-primary(id='applaudButton') Applaudir


    script(src="/js/applause.js")